@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap");
;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/* navbar CSS section */

body {
    background: #a67153 !important;
}

.navbar {
    background-color: #d9af8b !important;
}

.navbar-collapse ul li a {
    color: #3a2715;
    margin-left: 30px;
}

#archive,
.navbar-collapse ul li a:hover {
    text-decoration: underline 3px #d44949;
    text-underline-position: under;
}

.btn_contact {
    height: 50px;
    width: 110px;
    margin-left: 10px;
    border-radius: 50px;
    border: 2px solid #d44949;
    text-align: center;
    background: #d9af8b;
}

.btn_contact:hover {
    background: #d44949;
    color: #d9af8b;
}


/* navbar CSS section end*/


/* carousel CSS section */

section {
    display: block;
}

.carousel-item>img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
}

.carousel-caption,
h3 {
    font-size: 30px;
}

.carousel-caption,
p {
    font-size: 20px;
    padding: 20px;
}

.carousel-caption {
    justify-content: center;
    text-align: center;
    margin-bottom: 17%;
    backdrop-filter: blur(4px);
}

.carousel-caption,
a {
    padding: 0 10px;
}

.bgg {
    background-color: #d9af8b !important;
}

@media (max-width:800px) {
    .carousel-caption,
    h3 {
        font-size: 16px;
    }
}

@media (max-width:777px) {
    .carousel-caption>img {
        width: 500px;
        height: 800px;
        object-fit: cover;
        object-position: center;
    }
    .carousel-caption,
    h3 {
        font-size: 14px;
    }
    .carousel-caption {
        padding: 25px;
        margin-bottom: 40%;
    }
    .pp {
        font-size: 12px;
    }
    .cc-g {
        margin-bottom: 60%;
    }
}

@media (max-width:500px) {
    .cc-g {
        margin-bottom: 60%;
    }
}

@media (min-width:1200px) {
    .cc {
        width: 700px;
    }
}


/* carousel CSS section end*/


/* products CSS section */

section {
    width: 100%;
}

.feature_section {
    display: flex;
    flex-wrap: wrap;
    background-color: #a67153;
    color: white !important;
}

.feature_section div {
    margin: auto;
    padding: 0;
    /* padding-bottom: 25px; */
    width: 300px;
    text-align: center;
    padding-top: 50px;
}

.feature_section div img {
    /* margin: 20px; */
    width: 250px;
    height: 250px;
    display: inline-block;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 1px rgb(241, 203, 169), inset 5px 1px;
    border-collapse: collapse;
}

.feature_section div>h3 {
    transition: 0.1s;
    font-size: 30px;
    font-weight: lighter;
}

.feature_section div>h3:hover {
    color: #3a2715;
    font-size: 25px;
    font-weight: bolder;
}


/* products CSS section end*/


/* content CSS section */

.contact_con {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.history_h2 {
    font-family: Roboto Mono;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.about_con {
    width: 100%;
    display: flex;
    margin-top: 20px;
    text-align: center;
}

.history_about_con {
    width: 50%;
}

.history_about_con img {
    width: 65%;
    border-radius: 5px;
    box-shadow: 12px 29px 4px rgb(117, 53, 20);
    margin-top: 50px;
}

.sec_about_con {
    width: 50%;
    text-align: center;
}

.sec_about_con p {
    font-size: 18px;
    line-height: 2.4rem;
    font-family: Oswald;
    text-align: left;
    margin-right: 50px;
    margin-top: 70px;
}

#more_bu {
    width: 125px;
    height: 43px;
    border: none;
    background-color: rgb(156, 84, 21);
    color: wheat;
    font-family: Major Mono display;
    border-radius: 5px;
    margin-top: 13px;
}

#more_bu:hover {
    background-color: #502b0a;
}

.clothing_h2 {
    padding-top: 80px;
    color: white;
    font-family: Roboto Mono;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
}

.clothing_about_con {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.sec_history_about_con {
    width: 50%;
}

.sec_history_about_con img {
    width: 65%;
    border-radius: 5px;
    box-shadow: 12px 29px 4px rgb(117, 53, 20);
    margin-left: 130px;
    margin-top: 60px;
}

.clothing_con {
    width: 50%;
    text-align: center;
    margin-bottom: 62px;
}

.clothing_con p {
    font-size: 18px;
    line-height: 2.4rem;
    font-family: Oswald;
    margin-left: 32px;
    margin-top: 70px;
}

#sec_more_bu {
    width: 125px;
    height: 43px;
    border: none;
    background-color: rgb(156, 84, 21);
    color: white;
    font-family: Major Mono display;
    border-radius: 5px;
    margin-top: 13px;
    margin-right: 12px;
}

#sec_more_bu:hover {
    background-color: #502b0a;
}

@media (max-width:660px) {
    .about_con {
        display: flex;
        flex-direction: column;
    }
    .history_about_con {
        width: 100%;
    }
    .history_about_con img {
        width: 90%;
        box-shadow: none;
        margin-left: 27px;
        margin-top: 20px;
    }
    .sec_about_con {
        width: 100%;
        text-align: left;
    }
    .sec_about_con p {
        margin-left: 38px;
        line-height: 2.3rem;
        margin-top: 15px;
    }
    #more_bu {
        text-align: center;
        margin-top: 22px;
        margin-left: 37px;
    }
    .clothing_about_con {
        display: flex;
        flex-direction: column;
    }
    .sec_history_about_con {
        width: 100%;
    }
    .sec_history_about_con img {
        width: 90%;
        box-shadow: none;
        margin-left: 27px;
        margin-top: 40px;
    }
    .clothing_con {
        width: 100%;
    }
    .clothing_con p {
        margin-left: 18px;
        line-height: 2.3rem;
        margin-top: 15px;
        margin-right: 18px;
    }
}


/* content CSS section end */


/* service offer CSS section  */

.cards {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.cards h2.header {
    font-size: 30px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.services {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
}

.content .fab {
    font-size: 60px;
    margin: 16px 0;
}

.content>* {
    flex: 1 1 100%;
}

.content:hover {
    color: rgb(0, 0, 0);
}

.content:hover a {
    border-color: #b1551f;
    background: #b1551f;
}

.content-1:hover {
    border-color: #D9AF8B;
    background: #D9AF8B;
}

.content-1:hover a {
    color: #000000;
}

.content-2:hover {
    border-color: #D9AF8B;
    background: #D9AF8B;
}

.content-2:hover a {
    color: #000000;
}

.content-3:hover {
    border-color: #D9AF8B;
    background: #D9AF8B;
}

.content-3:hover a {
    color: #000000;
}

.content h2 {
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content p {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.content a {
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
}

.content a:hover {
    border-radius: 4px;
}

@media (max-width: 900px) {
    .services {
        display: flex;
        flex-direction: column;
    }
}


/* service offer  CSS section end */


/* footer CSS section */

hr {
    display: none;
}

.footer {
    height: 480px;
    background: #b1551f;
    color: #000;
    display: flex;
    flex-wrap: wrap;
}

.about {
    padding-top: 20px;
    padding-left: 30px;
    width: 400px;
}

#footer-logo {
    font-size: 3rem;
    padding-top: 30px !important;
}

.about p {
    padding-top: 20px !important;
    padding: 0;
    margin: 0;
}

.about a {
    padding: 0;
    margin: 0;
    font-size: 29px;
    width: 50px;
    padding-top: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.about a:hover {
    font-size: 24px;
    font-weight: bold;
}

#contact {
    padding-top: 40px;
    font-size: 22px;
    font-weight: bold;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.sections div {
    padding: 20px;
    width: 280px;
    padding-top: 0;
    justify-content: space-around;
}

.sections div hr {
    border: 1px solid rgba(0, 0, 0, 0.452);
}

.sections div h2 {
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}

.sections div a {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: block;
    color: black;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

.sections div a:hover {
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .footer {
        height: auto;
        margin: 0;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    #footer-logo {
        text-align: center;
        align-items: center;
        color: black;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    hr {
        display: block;
    }
    .about {
        padding: 0;
        margin: 0;
        text-align: center;
        align-items: center;
        padding-bottom: 350px;
        width: 100%;
        display: block;
    }
    .about div {
        text-align: center;
        align-items: center;
    }
    .about .menu {
        width: 100%;
        display: inline;
    }
    .about a {
        margin: 10px;
        font-size: 2rem;
        text-decoration: none;
        color: #000;
        transition: 0.25s;
        font-weight: bold;
    }
    .about a:hover {
        font-size: 26px;
    }
    #contact {
        font-size: 28px;
    }
    .sections {
        justify-content: center;
        width: 300px !important;
        margin-inline: auto;
        text-align: center;
        align-items: center;
    }
    .sections div {
        padding: 0;
        margin: 0;
        position: relative;
        padding: auto;
        align-items: center;
        text-align: center;
        width: max-content;
    }
    .sections div h2 {
        font-size: 35px !important;
        color: #000;
    }
    .sections div hr {
        display: block;
    }
    .sections div a {
        align-items: center;
        text-align: center;
        font-size: 1rem;
    }
    .sections div a:hover {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
}

@media (max-width: 1350px) {
    .footer {
        height: auto;
    }
    #footer-logo {
        display: inline;
        text-align: center;
        align-items: center;
    }
    .about {
        height: 300px;
        margin: auto;
        width: 800px;
        display: inline;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .sections {
        padding: 0;
        margin-right: auto;
        text-align: center;
        align-items: center;
    }
    .sections div h2 {
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .sections div a {
        margin-top: 1rem;
        display: block;
        color: black;
        font-size: 15px;
        text-decoration: none;
        transition: 0.3s;
        font-weight: bold;
    }
    .sections div a:hover {
        font-size: 17px;
        font-weight: bold;
    }
    .sections div {
        width: 320px;
        padding: 0;
        margin-inline: auto;
        display: inline;
        text-align: center;
        align-items: center;
    }
}


/* footer CSS section end */