*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
}
.contact_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d9af8b;
    
    
}
.history_h2{
    font-family: Roboto Mono;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
   color: white;
}
    

.about_con{
     width: 100%;
     display: flex;
     background-color: #d9af8b;
     margin-top: 20px;
     text-align: center;

    
}
.history_about_con{
    width: 50%;
}
.history_about_con img{
     width: 65%;
     border-radius: 5px;
     box-shadow: 12px 29px 4px rgb(199, 127, 92);
     
     margin-top: 50px;
    
}
.sec_about_con{
    width: 50%;
    text-align: center;
}
.sec_about_con p{
    font-size: 18px;
    line-height: 2.4rem;
    font-family: Oswald;
    text-align: left;
    margin-right: 50px;
    margin-top: 70px;
}
#more_bu{
     width: 125px;
     height: 43px;
     border: none;
     background-color: rgb(156, 84, 21);
     color: wheat;
     font-family: Major Mono display;
     border-radius: 5px;
     margin-top: 13px;
}
#more_bu:hover{
       background-color: #502b0a;
}
.clothing_h2{
    padding-top: 120px;
    color: white;
    font-family: Roboto Mono;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
  
}
.clothing_about_con{
     width: 100%;
     display: flex;
     flex-direction: row-reverse;
}
.sec_history_about_con{
    width: 50%;
}
.sec_history_about_con img{
    width: 65%;
    border-radius: 5px;
    box-shadow: 12px 29px 4px rgb(199, 127, 92);
    margin-left: 130px;
    margin-top: 60px;
}
.clothing_con{
    width: 50%;
    text-align: center;
}
.clothing_con p{
    font-size: 18px;
    line-height: 2.4rem;
    font-family: Oswald;
   margin-left: 32px;
    margin-top: 70px;
   
}
#sec_more_bu{
    width: 125px;
    height: 43px;
    border: none;
    background-color: rgb(156, 84, 21);
    color: white;
    font-family: Major Mono display;
    border-radius: 5px;
    margin-top: 13px;
    margin-right: 12px;
}










@media (max-width:660px){
        .about_con{
            display: flex;
         
            flex-direction: column  ;

        }
         .history_about_con {
           width: 100%;
           
        }
         .history_about_con img{
             width: 90%;
             box-shadow: none;
            margin-left: 27px;
            margin-top: 20px;
        }
        .sec_about_con{
            width: 100%;
            text-align: left;
        }
        .sec_about_con p{
                margin-left: 38px;
                line-height: 2.3rem;
                margin-top: 15px;
        }
        #more_bu{
           text-align: center;
            margin-top: 22px;
            margin-left: 37px;
           
        }
        .clothing_about_con{
            display: flex;
            flex-direction: column;
        }
        .sec_history_about_con{
            width: 100%;
        }
        .sec_history_about_con img{
            width: 90%;
             box-shadow: none;
            margin-left: 27px;
            margin-top: 40px;
        }
        .clothing_con{
            width: 100%;
        }
        .clothing_con p{
            margin-left: 18px;
            line-height: 2.3rem;
            margin-top: 15px;
            margin-right: 18px;
        }
       

}